.Alert {
    padding: 1em 1em 1em 2em;
    background-color: #795548;
    color: white;
    position: absolute;
    top: 10vh;
    left: 0;
    width: calc(100vw - 3em);
    text-shadow: none;
}

.closebtn {
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}