.login_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 1em;
}

input.nameInput,
button.submitButton {
    width: 50vh;
    height: 2em;
    text-align: center;
    outline: none;
    border: none;
    font-weight: 900;
    font-family: "Tiny5", serif;
    font-size: 1em;
}

input.nameInput {
    background: #9E9E9E;
}

button.submitButton {
    text-transform: uppercase;
    background: #6b110f;
    color: #9E9E9E;
}

.profilePage {
    padding: 0;
    margin: 0;
    height: 90vh;
}

.profile_wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile_card {
    width: 60vw;
    height: 75vh;
    font-size: 3.5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #795548;
    border-radius: 0.2em;
    border: 4px solid #2b161675;
    padding: 1em;
    max-height: fit-content;
    text-align: center;
    justify-content: flex-start;
    gap: 0.5em
}

.profile_name {
    font-size: 2em;
    color: #FFC107;
    text-shadow: 4px 1px 0 #ffc10744;
}

img.profile_img {
    width: 5em;
}

.weapon_img {
    width: 3.5em;
    height: 3.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1em 0;
}

.weapon_rarity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 0;
    filter: blur(1em);
}

.weapon_img {
    animation: shake 4s ease-in-out infinite;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
        scale: 1;
    }

    25% {
        transform: rotate(-1deg);
    }

    50% {
        transform: rotate(1deg);
        scale: 1.03;
    }

    75% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0deg);
        scale: 1;
    }
}

.weapon_img.legendary>img {
    -webkit-filter: drop-shadow(2px 2px 0 #ffd943af) drop-shadow(-2px 2px 0 #ffd943af) drop-shadow(2px -2px 0 #ffd943af) drop-shadow(-2px -2px 0 #ffd943af);

    filter: drop-shadow(2px 2px 0 #ffd943af) drop-shadow(-2px 2px 0 #ffd943af) drop-shadow(2px -2px 0 #ffd943af) drop-shadow(-2px -2px 0 #ffd943af);
}

.weapon_rarity.legendary {
    background: #ffd843;
}

.weapon_img.epic>img {
    -webkit-filter: drop-shadow(2px 2px 0 #e73abcd3) drop-shadow(-2px 2px 0 #e73abcd3) drop-shadow(2px -2px 0 #e73abcd3) drop-shadow(-2px -2px 0 #e73abcd3);

    filter: drop-shadow(2px 2px 0 #e73abcd3) drop-shadow(-2px 2px 0 #e73abcd3) drop-shadow(2px -2px 0 #e73abcd3) drop-shadow(-2px -2px 0 #e73abcd3);
}

.weapon_rarity.epic {
    background: #e73abc;
}

.weapon_img.rare>img {
    -webkit-filter: drop-shadow(2px 2px 0 #32ebebb0) drop-shadow(-2px 2px 0 #32ebebb0) drop-shadow(2px -2px 0 #32ebebb0) drop-shadow(-2px -2px 0 #32ebebb0);

    filter: drop-shadow(2px 2px 0 #32ebebb0) drop-shadow(-2px 2px 0 #32ebebb0) drop-shadow(2px -2px 0 #32ebebb0) drop-shadow(-2px -2px 0 #32ebebb0);
}

.weapon_rarity.rare {
    background: #32ebeb;
}

.weapon_img.common>img {
    -webkit-filter: drop-shadow(2px 2px 0 #76eb32b7) drop-shadow(-2px 2px 0 #76eb32b7) drop-shadow(2px -2px 0 #76eb32b7) drop-shadow(-2px -2px 0 #76eb32b7);

    filter: drop-shadow(2px 2px 0 #76eb32b7) drop-shadow(-2px 2px 0 #76eb32b7) drop-shadow(2px -2px 0 #76eb32b7) drop-shadow(-2px -2px 0 #76eb32b7);
}

.weapon_rarity.common {
    background: #76eb32;
}

.weapon_img>img {
    width: auto;
    height: 100%;
    z-index: 1;
}