@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');


* {
  margin: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.App {
  width: 100vw;
  height: fit-content;
  min-height: 90vh;
  background: rgb(38, 48, 33);
  font-size: 14px;
  margin-top: 10vh;
}



/* styles for classes */
.classCard {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 2em;
  font-size: 2em;
  font-family: "Tiny5", serif;
  font-weight: 900;
  text-shadow: 4px 1px 0 black;
}

.classNaming {
  color: #771410;
  text-transform: uppercase;
  font-size: 2em;
}

.classAbout {
  color: #9d9594;
  font-size: 1.4em;
  text-align: center;
}

.classImg {
  width: 10vw;
  margin-top: 0.5em;
}


/* pages */
.merchPage,
.profilePage,
.contactsPage,
.aboutPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 2em;
  font-size: 2em;
  font-family: "Tiny5", serif;
  font-weight: 900;
  text-shadow: 4px 1px 0 black;
  color: #9d9594;
}

.aboutTable {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  justify-content: space-around;
}

.aboutTable>a:hover, .contactsPage>a:hover {
  display: inline-block;
  scale: 1.2;
}